node_modules
.env
demos/*
data.json
google.json
.vscode
demo.js
profile
5511999186715-1595747700@g.us.json
555186528365-1613548539@g.us.json
logs
demo-module.js
input.mp4
*.mp3
*.mp3
*.webp
[group-id].json
demos
lib/cards-against-humanity/cards/*
session/calendars/
calendar.js
session/birthdays/*
session/filters/*
**.data.json
black-pt.json
groupMetadata.json
gameCommands.js
message.js
modifyCards.js